<html xmlns:excelUpload="">
    <head>
        <title>
            Excel file upload and processing
        </title>
    </head>
    <body style="margin-top: 5px;">
        <h2 style="text-align: center;"> Find longitude & latitude </h2>

        <div style="text-align:center;">
            {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            {% endif %}
            <form action="{% url 'excelUpload:excel' %}" method="post" enctype="multipart/form-data">
                <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
                <p>
                    <input type="submit"
                        value="Upload"
                        style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </p>
            </form>
         </div>
    </body>
</html>